<div class="container d-flex flex-wrap">
    <app-user class="shadow-lg col-3 m-1" style="min-height:400px"></app-user>
<app-user class="shadow-lg col-3 m-1" style="min-height:400px"></app-user>
<app-user class="shadow-lg col-3 m-1" style="min-height:400px"></app-user>
<app-user class="shadow-lg col-3 m-1" style="min-height:400px"></app-user>
<app-user class="shadow-lg col-3 m-1" style="min-height:400px"></app-user>
<app-user class="shadow-lg col-3 m-1" style="min-height:400px"></app-user>

</div>
