.component-title{
    background-color: #1D5C87;
    color:white;
    border-bottom: 1px solid black;
}
ul{
    list-style-type:none;
    background-color: #1D5C87;
    margin:0px;
    padding:0px;
    min-height:500px;
    cursor: pointer;
}
ul li{
    display: block;
    width:100%;
    padding:10px 0px;
    border-bottom:1px solid black;
    color:white;
}
ul li:hover{
    background-color: #7ECDCA;
    color:black
}